:root {
  --font1: "DM Sans", sans-serif;
  --font2: "Righteous", cursive;
  --grad-1: linear-gradient(#07c8f9, #0d41e1);
  --grad-2: linear-gradient(to right, #3d05dd, #3d05dd);
  --grad-3: linear-gradient(to right, #3d05dd, #6710c2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font1);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  background: linear-gradient(to right, #471069, #3d05dd);
}
.p__font {
  font-family: var(--font1);
  font-size: 20px;
  color: #fff;
}
.custom__button {
  padding: 10px 40px;
  color: #fff;
  font-family: var(--font1);
  font-size: 32px;
  border-radius: 30px;
  background: none;
  border: 2px solid #fff;
  transition: all ease 0.5s;
  cursor: pointer;
}
.custom__button:hover {
  background: var(--grad-2);
  border: none;
}
.section__padding {
  padding: 4rem;
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 2rem;
  }
  .custom__button {
    padding: 8px 30px;
    font-size: 24px;
  }
}

/*  Navigation Bar */
nav {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 10px 4rem;
}
nav .nav__logo {
  width: 100%;
}
nav .nav__logo span {
  font-family: var(--font2);
  background: -webkit-linear-gradient(#07c8f9, #0d41e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
}
nav .nav__links {
  width: 100%;
  margin-right: 2rem;
}
nav .nav__links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .nav__links ul li {
  margin: 0 1rem;
}
nav .nav__links ul li a {
  color: #fff;
  font-size: 22px;
  transition: all ease 0.5s;
}
nav .nav__links ul li a:hover {
  color: rgb(162, 162, 162);
}
nav .nav__button {
  width: 100%;
  align-items: center;
}
nav .nav__button button {
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 25px;
  outline: none;
  transition: ease 0.2ms;
}
nav .nav__button button:nth-child(1) {
  background: linear-gradient(to right, #355bcf, #0d41e1);
  border: none;
  color: #fff;
}
nav .nav__button button:nth-child(1):hover {
  background: none;
  border: 1px solid #fff;
  color: #fff;
}
nav .nav__button button:nth-child(2) {
  background: none;
  border: 1px solid #fff;
  color: #fff;
}
nav .nav__button button:nth-child(2):hover {
  background: linear-gradient(to right, #355bcf, #0d41e1);
  border: none;
  color: #fff;
}
nav .nav__smallscreen {
  display: none;
  cursor: pointer;
}
nav .nav__smallscreen .overlay_open {
  font-size: 27px;
  color: #fff;
}
nav .nav__smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  transition: ease 0.5s;
  display: flex;
  flex-direction: column;
  z-index: 50;
  align-items: center;
  justify-content: center;
}
nav .nav__smallscreen_overlay .overlay_close {
  font-size: 27px;
  color: #0d41e1;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 40px;
}
nav .nav__smallscreen_links {
  display: flex;
  flex-direction: column;
}
nav .nav__smallscreen_links li {
  text-align: center;
  margin: 2rem;
  font-size: 40px;
}
nav .nav__smallscreen_links li a {
  color: #0d41e1;
  transition: all ease 0.5s;
  font-weight: 500;
}
nav .nav__smallscreen_links li a:hover {
  color: #471069;
}
.slide__bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.56, 0.45, 0.94) both;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media screen and (max-width: 1150px) {
  nav .nav__links {
    display: none;
  }
  nav .nav__button {
    display: none;
  }
  nav .nav__smallscreen {
    display: flex;
  }
  nav .nav__smallscreen_overlay {
    display: none;
  }
  nav .nav__smallscreen_overlay.open {
    align-items: center;
  }
  nav .nav__smallscreen.close {
    align-items: center;
  }
}
@media screen and (max-width: 650px) {
  nav {
    padding: 10px 2rem;
  }
}

/*  Main Section */
.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
}
.main__content {
  width: 100%;
  margin-right: 1rem;
}
.main__content h1 {
  font-family: var(--font2);
  color: #fff;
  font-size: 70px;
}
.main__content h1 span {
  font-family: var(--font2);
  font-size: 70px;
  background: -webkit-linear-gradient(#07c8f9, #0d41e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__content p {
  width: 90%;
}
.main__content button {
  padding: 10px 30px;
  font-size: 20px;
  color: #fff;
  background: var(--grad-2);
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
  transition: all ease 0.5s;
}
.main__content button:hover {
  border: 1px solid #fff;
  background: none;
}
.main__content ul {
  display: flex;
  margin-top: 1rem;
}
.main__content ul li {
  margin-right: 1rem;
}
.main__content ul li h2 {
  font-family: var(--font2);
  font-size: 48px;
  color: #fff;
}
.main__content ul li span {
  font-size: 24px;
  color: #bcbcbc;
}

.main__img {
  width: 100%;
  position: relative;
}
.main__img::after {
  content: "";
  width: 340px;
  height: 310px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(225, 225, 225, 0.3);
  backdrop-filter: blur(50px);
  border-radius: 20px;
}
.main__img::before {
  content: "";
  z-index: -10;
  width: 420px;
  height: 430px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(225, 225, 225, 0.3);
  backdrop-filter: blur(50px);
  border-radius: 20px;
}
.main__img .nft_img {
  width: 90%;
  margin: 2rem;
  z-index: 5;
  top: 2rem;
  left: 2rem;
  z-index: 5;
  border-radius: 20px;
}
.main__img .content_1 {
  position: absolute;
  padding: 10px 20px;
  top: 0;
  right: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(225, 225, 225, 0.3);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: 0 4px 50px rgba(61, 5, 221, 0.25);
}
.main__img .content_1 h1 {
  color: #fff;
  font-family: var(--font2);
  font-size: 32px;
}
.main__img .content_1 p {
  color: #fff;
  font-size: 14px;
}
.main__img .content_2 {
  position: absolute;
  padding: 10px 20px;
  bottom: 20%;
  left: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(225, 225, 225, 0.3);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: 0 4px 50px rgba(61, 5, 221, 0.25);
}
.main__img .content_2 ul {
  display: flex;
}
.main__img .content_2 ul li {
  margin-right: 1rem;
}
.main__img .content_2 ul li:nth-child(2) {
  text-align: end;
}
.main__img .content_2 ul li h1 {
  font-family: var(--font2);
  color: #fff;
  font-size: 32px;
}
.main__img .content_2 ul li p {
  color: #fff;
  font-size: 16px;
}
.main__img .content_2 ul li:nth-child(2) p {
  color: #24ff00;
}
.main__img .content_3 {
  position: absolute;
  padding: 10px;
  display: flex;
  width: 40%;
  bottom: 40%;
  right: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(225, 225, 225, 0.3);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: 0 4px 50px rgba(61, 5, 221, 0.25);
}
.main__img .content_3 .img {
  position: relative;
  width: 50%;
  margin-right: 20px;
}
.main__img .content_3 .img img {
  width: 100%;
  border-radius: 10px;
}
.main__img .content_3 .img i {
  position: absolute;
  right: -10px;
  bottom: 20px;
  padding: 5px;
  font-size: 10px;
  background: #0d41e1;
  border-radius: 30px;
  color: #fff;
}
.main__img .content_3 .content {
  width: 100%;
}
.main__img .content_3 h1 {
  font-family: var(--font2);
  color: #fff;
  font-size: 20px;
}
.main__img .content_3 p {
  font-size: 12px;
  font-weight: 700;
  color: #0e0e0e;
}
.main__img .content_3 span {
  font-size: 8px;
  color: #0e0e0e;
}
.main__img .content_4 {
  position: absolute;
  padding: 10px 30px;
  bottom: -5%;
  right: 20px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(225, 225, 225, 0.3);
  backdrop-filter: blur(50px);
  border-radius: 20px;
  box-shadow: 0 4px 50px rgba(61, 5, 221, 0.25);
}
.main__img .content_4 span {
  font-family: var(--font2);
  color: #fff;
  font-size: 16px;
}
.main__img .content_4 ul {
  display: flex;
  align-items: center;
}
.main__img .content_4 ul li {
  margin-right: 20px;
}
.main__img .content_4 h1 {
  font-family: var(--font2);
  color: #fff;
  font-size: 48px;
}
@media screen and (max-width: 1150px) {
  .main {
    flex-direction: column;
  }
  .main__content {
    margin-bottom: 4rem;
  }
  .main__img .content_3 {
    width: 30%;
  }
  .main__img .content_3 .img {
    width: 60%;
  }
}
@media screen and (max-width: 950px) {
  .main__content {
    bottom: -25%;
  }
}
@media screen and (max-width: 850px) {
  .main__content {
    bottom: -15%;
  }
}
@media screen and (max-width: 650px) {
  .main {
    margin-bottom: 2rem;
  }
  .main__img::after {
    width: 240px;
    height: 210px;
  }
  .main__img::before {
    width: 320px;
    height: 330px;
  }
  .main__content h1 {
    font-size: 56px;
  }
  .main__content h1 span {
    font-size: 56px;
  }
  .main__img .content_2 {
    bottom: 20%;
  }
  .main__img .content_3 {
    width: 40%;
    bottom: 40%;
  }
  .main__img .content_3 .img {
    width: 100%;
  }
  .main__img .content_4 {
    border-radius: 15px;
    padding: 10px 20px;
  }
  .main__img .content_2 ul li h1 {
    font-size: 24px;
  }
  .main__img .content_2 ul li p {
    font-size: 12px;
  }
  .main__img .content_4 span {
    font-size: 12px;
  }
  .main__img .content_4 h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 550px) {
  .main__img .content_3 {
    width: 50%;
  }
  .main__img .content_3 .img {
    width: 60%;
  }
}
@media screen and (max-width: 450px) {
  .main__content h1 {
    font-size: 48px;
  }
  .main__content h1 span {
    font-size: 48px;
  }
  .main__img .nft_img {
    width: 90%;
    margin: 1rem;
    border-radius: 20px;
  }
  .main__img::after {
    width: 140px;
    height: 110px;
  }
  .main__img::before {
    width: 220px;
    height: 230px;
  }
  .main__img .content_1 h1 {
    font-size: 24px;
  }
  .main__img .content_1 p {
    font-size: 8px;
  }
  .main__img .content_2 ul li h1 {
    font-size: 16px;
  }
  .main__img .content_2 ul li p {
    font-size: 8px;
  }
  .main__img .content_4 {
    padding: 5px 20px;
    right: 0;
  }
  .main__img .content_4 ul li {
    margin-right: 10px;
  }
  .main__img .content_4 span {
    font-size: 8px;
  }
  .main__img .content_4 h1 {
    font-size: 18px;
  }
  .main__img .content_3 {
    width: 50%;
    right: 0;
  }
  .main__img .content_3 .img {
    width: 40%;
  }
  .main__img .content_3 h1 {
    font-size: 18px;
  }
  .main__img .content_3 p {
    font-size: 10px;
  }
  .main__img .content_3 span {
    font-size: 5px;
  }
}

/* Wallet Section */
.wallet {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(50px);
}
.wallet .top__wallet {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
  align-items: center;
}
.wallet .top__wallet img {
  width: 100%;
}
.wallet .bottom__wallet {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  margin: 2rem 15rem 0 15rem;
  align-items: center;
}
.wallet .bottom__wallet img {
  width: 100%;
}
@media screen and (max-width: 1150px) {
  .wallet .bottom__wallet {
    grid-column-gap: 30px;
    margin: 2rem 8rem 0 8rem;
  }
}
@media screen and (max-width: 450px) {
  .wallet .top__wallet {
    grid-column-gap: 10px;
  }
  .wallet .bottom__wallet {
    grid-column-gap: 10px;
    margin: 2rem 4rem 0 4rem;
  }
}

/* Trending Section */
.trending {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trending__section {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
}
.trending__left {
  width: 100%;
  margin-right: 1rem;
}
.trending__left .container {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(7, 200, 249, 1);
  backdrop-filter: blur(50px);
  border-radius: 20px;
  padding: 10px;
}
.trending__left .container img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgba(225, 225, 225, 0.8);
}
.trending__left .account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.trending__left .account .profil {
  display: flex;
  align-items: flex-start;
}
.trending__left .account .profil .img {
  width: 100%;
  position: relative;
}
.trending__left .account .profil .name {
  margin-left: 10px;
  width: 100%;
}
.trending__left .account .profil h1 {
  font-family: var(--font2);
  color: #fff;
  font-size: 40px;
  transition: all ease 0.5s;
}
.trending__left .account .profil h1:hover {
  color: rgba(225, 225, 225, 0.5);
}
.trending__left .account .profil h3 {
  color: #bcbcbc;
  font-size: 18px;
  font-weight: 700;
  transition: all ease 0.5s;
}
.trending__left .account .profil h3:hover {
  color: #fff;
}
.trending__left .account .profil img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(225, 225, 225, 0.8);
}
.trending__left .account .profil .img i {
  position: absolute;
  bottom: 20%;
  right: -5%;
  font-size: 8px;
  padding: 5px;
  border-radius: 20px;
  color: #fff;
  background: #07c8f9;
}
.trending__left .eth_icon {
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: center;
}
.trending__left .eth_icon i {
  cursor: pointer;
  font-size: 30px;
  color: #fff;
  padding: 10px 15px;
  border-radius: 30px;
  background: #3d05dd;
  border: 2px solid rgba(225, 225, 225, 0.5);
}
.trending__left .bid {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trending__left .bid h2 {
  font-size: 28px;
  color: #fff;
  font-weight: 700;
}
.trending__left .bid p {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}
.trending__left .bid span {
  font-size: 16px;
  color: #24ff00;
  font-weight: 700;
}
.trending__left .bid div:nth-child(2) {
  text-align: center;
}
.trending__left .bid div:nth-child(3) {
  text-align: end;
}
.trending__left .button {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 20px;
}
.trending__left .button button {
  width: 100%;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
  border-radius: 30px;
  background: var(--grad-3);
  border: 1px solid #fff;
  backdrop-filter: blur(50px);
  cursor: pointer;
  transition: all ease 0.5s;
}
.trending__left .button button:hover {
  background: none;
}
.trending__right {
  width: 100%;
  margin-left: 1rem;
}
.trending__right h1 {
  font-family: var(--font2);
  font-size: 70px;
  background: -webkit-linear-gradient(#07c8f9, #0d41e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.trending__right h2 {
  font-size: 24px;
  color: #fff;
}
.trending__right .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(7, 200, 249, 1);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
.trending__right .img {
  width: 60%;
  margin-right: 5px;
}
.trending__right .img img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(225, 225, 225, 0.8);
}
.trending__right .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 5px;
}
.trending__right .content img {
  width: 100%;
}
.trending__right .profil {
  display: flex;
  flex-direction: row;
  transition: all ease 0.5s;
}
.trending__right .profil h2 {
  font-family: var(--font2);
  font-size: 28px;
}
.trending__right .profil h2:hover {
  color: rgba(225, 225, 225, 0.5);
}
.trending__right .profil h3 {
  font-size: 18px;
  color: #bcbcbc;
  transition: all ease 0.5s;
}
.trending__right .profil h3:hover {
  color: #fff;
}
.trending__right .profil .img {
  width: 100%;
  position: relative;
}
.trending__right .profil .img i {
  position: absolute;
  bottom: 20%;
  right: -5%;
  font-size: 5px;
  padding: 3px;
  border-radius: 20px;
  color: #fff;
  background: #07c8f9;
}
.trending__right .profil .name {
  width: 100%;
  margin-left: 5px;
}
.trending__right .profil .eth_icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.trending__right .profil .eth_icon i {
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  padding: 8px 10px;
  border-radius: 30px;
  background: #3d05dd;
  border: 2px solid rgba(225, 225, 225, 0.5);
}
.trending__right .bid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trending__right .bid h2 {
  font-size: 24px;
  color: #fff;
}
.trending__right .bid p {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}
.trending__right .bid span {
  font-size: 12px;
  color: #24ff00;
  font-weight: 600;
}
.trending__right .bid div:nth-child(2) {
  text-align: center;
}
.trending__right .bid div:nth-child(3) {
  text-align: end;
}
.trending__right .button {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1.5rem;
}
.trending__right .button button {
  width: 100%;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  border-radius: 30px;
  background: var(--grad-3);
  border: 1px solid #fff;
  backdrop-filter: blur(50px);
  cursor: pointer;
  transition: all ease 0.5s;
}
.trending__right .button button:hover {
  background: none;
}
.trending__button {
  margin-top: 2rem;
}

@media screen and (max-width: 1150px) {
  .trending__section {
    flex-direction: column;
  }
  .trending__left {
    margin-right: 0;
  }
  .trending__left .account .profil .img i {
    right: -10%;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
  }
  .trending__right {
    margin-left: 0;
    margin-top: 2rem;
  }
  .trending__right .container {
    margin-top: 1rem;
  }
  .trending__right .profil .img i {
    font-size: 12px;
    padding: 10px;
    right: -10%;
  }
}
@media screen and (max-width: 650px) {
  .trending__left .account .profil .img i {
    right: -10%;
    font-size: 12px;
    padding: 7px;
    border-radius: 30px;
  }
  .trending__right .profil .img i {
    font-size: 8px;
    padding: 5px;
    right: -10%;
  }
}
@media screen and (max-width: 450px) {
  .trending__left .account .profil h1 {
    font-size: 35px;
  }
  .trending__left .account .profil h3 {
    font-size: 14px;
  }
  .trending__right .profil h2 {
    font-size: 18px;
  }
  .trending__left .account .profil .img i {
    right: -10%;
    font-size: 5px;
    padding: 5px;
    border-radius: 30px;
  }
  .trending__left .bid h2 {
    font-size: 22px;
  }
  .trending__left .bid p {
    font-size: 12px;
  }
  .trending__left .bid span {
    font-size: 12px;
  }
  .trending__left .button button {
    font-size: 22px;
  }
  .trending__right h1 {
    font-size: 50px;
  }
  .trending__right h2 {
    font-size: 18px;
  }
  .trending__right .profil h3 {
    font-size: 12px;
  }
  .trending__right .bid h2 {
    font-size: 12px;
  }
  .trending__right .bid p {
    font-size: 8px;
  }
  .trending__right .bid span {
    font-size: 8px;
  }
  .trending__right .profil .eth_icon i {
    cursor: pointer;
    font-size: 10px;
    padding: 5px 7px;
    border-radius: 30px;
  }
}

/* Top Section */
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h1__top {
  font-family: var(--font2);
  font-size: 70px;
  background: var(--grad-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top__filter {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.top__filter ul {
  display: flex;
  align-items: center;
}
.top__filter ul li {
  font-size: 14px;
  color: #fff;
  padding: 5px 20px;
  background: #6710c2;
  border-radius: 20px;
  cursor: pointer;
  transition: all ease 0.5s;
  margin-right: 10px;
}
.top__filter ul li:nth-child(1) {
  background: #0d41e1;
}
.top__filter ul li:hover {
  background: #0d41e1;
}
.top__filter .all__filter {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 20px;
  border-radius: 20px;
  background: #6710c2;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  transition: all ease 1s;
  z-index: 20;
}
.top__filter .all__filter:hover {
  background: #0d41e1;
}
.top__filter .all__filter i {
  margin-right: 5px;
}
.top__filter .all__filter ul {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  background: #0d41e1;
  top: 35px;
  left: 0;
  padding: 10px 0;
}
.top__filter .all__filter ul li {
  background: none;
  transition: all ease 0.5s;
}
.top__filter .all__filter ul li:hover {
  color: rgba(225, 225, 225, 0.5);
}
.top__filter .all__filter:hover ul {
  display: flex;
}
.top__content {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 20px;
  width: 100%;
}
.top__content .container {
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(7, 200, 249, 1);
  backdrop-filter: blur(50px);
  border-radius: 20px;
  padding: 10px;
}
.top__content .main__img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgba(225, 225, 225, 0.8);
}
.top__content .account {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  align-items: center;
}
.top__content .account .profil {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.top__content .account .profil h1 {
  font-size: 24px;
  font-family: var(--font2);
  color: #fff;
}
.top__content .account .profil h3 {
  font-size: 13px;
  font-weight: 700;
  color: #bcbcbc;
}
.top__content .account .profil .img {
  width: 40%;
  position: relative;
}
.top__content .account .profil .img img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(225, 225, 225, 0.8);
}
.top__content .account .profil .img i {
  position: absolute;
  bottom: 20%;
  right: -10%;
  font-size: 8px;
  padding: 4px;
  border-radius: 20px;
  color: #fff;
  background: #07c8f9;
}
.top__content .account .profil .name {
  width: 100%;
  margin-left: 10px;
}
.top__content .account .eth_icon i {
  cursor: pointer;
  font-size: 10px;
  color: #fff;
  padding: 5px 7px;
  border-radius: 30px;
  background: #3d05dd;
  border: 2px solid rgba(225, 225, 225, 0.5);
}
.top__content .bid {
  display: flex;
  justify-content: space-between;
}
.top__content .bid h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.top__content .bid p {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}
.top__content .bid span {
  font-size: 12px;
  color: #24ff00;
  font-weight: 600;
}
.top__content .bid div:nth-child(2) {
  text-align: end;
}
.top button {
  margin-top: 2rem;
}
@media screen and (max-width: 1150px) {
  .top__filter {
    justify-content: start;
  }
  .top__filter ul {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .top .h1__top {
    font-size: 50px;
  }
}

/* Categories Section */
.categories {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.categories h1 {
  font-family: var(--font2);
  font-size: 70px;
  background: var(--grad-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}
.categories .item {
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(225, 225, 225, 0.3);
  backdrop-filter: blur(50px);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
.categories .item h2 {
  font-family: var(--font2);
  font-size: 24px;
  color: #fff;
}
.categories .item .item__content {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.categories .item .item__content .item__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}
.categories .item .item__content .item__left img {
  width: 100%;
  margin: 5px 0;
  border-radius: 10px;
}
.categories .item .item__content .item__right {
  width: 100%;
  display: flex;
  padding: 0 5px;
}
.categories .item .item__content .item__right img {
  width: 100%;
  margin: 5px 0;
  border-radius: 10px;
}
.categories .owl-nav-prev {
  position: absolute;
  top: 30%;
  left: -10px;
}
.categories .owl-nav-next {
  position: absolute;
  top: 30%;
  right: -10px;
}
.categories .owl-nav .owl-prev .owl-nav-prev,
.categories .owl-nav .owl-next .owl-nav-next {
  color: #fff;
  background: #110f2d;
  padding: 8px 14px;
  font-size: 24px;
  border-radius: 30px;
  border: 2px solid rgba(225, 225, 225, 0.5);
  transition: all ease 0.5s;
}
.categories .owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: rgba(225, 225, 225, 0.5);
}
@media screen and (max-width: 650px) {
  .categories h1 {
    font-size: 40px;
  }
}

/* Create Section */
.create__content {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(50px);
  border: 2px solid rgba(225, 225, 225, 0.5);
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(61, 5, 221, 0.25);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create__content h1 {
  font-family: var(--font2);
  font-size: 48px;
  background: var(--grad-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
  text-align: center;
}
.create__content .container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 16px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.create__content .container i {
  color: #fff;
  font-size: 30px;
}
.create__content .container h2 {
  font-size: 28px;
  color: #fff;
  margin-top: 10px;
}
.create__content .container p {
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 850px) {
  .create__content h1 {
    font-size: 38px;
  }
  .create__content .container {
    grid-column-gap: 12px;
  }
  .create__content .container i {
    font-size: 20px;
  }
  .create__content .container h2 {
    font-size: 18px;
    margin-top: 5px;
  }
  .create__content .container p {
    font-size: 12px;
  }
}
@media screen and (max-width: 650px) {
  .create__content h1 {
    font-size: 32px;
    margin-bottom: 1rem;
  }
  .create__content .container {
    grid-column-gap: 10px;
    margin-bottom: 1rem;
  }
  .create__content .container i {
    font-size: 16px;
  }
  .create__content .container h2 {
    font-size: 12px;
  }
  .create__content .container p {
    font-size: 8px;
  }
}
@media screen and (max-width: 450px) {
  .create__content {
    border-radius: 20px;
    padding: 1rem;
  }
  .create__content h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .create__content .container {
    grid-column-gap: 5px;
    margin-bottom: 0.5rem;
  }
  .create__content .container i {
    font-size: 12px;
  }
  .create__content .container h2 {
    font-size: 8px;
  }
  .create__content .container p {
    font-size: 6px;
  }
}

/* Footer Section */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(50px);
}
footer h1 {
  font-family: var(--font2);
  font-size: 48px;
  color: #fff;
}
footer .head_p {
  font-size: 20px;
  color: #fff;
  margin-top: 30px;
}
.footer__input {
  margin-top: 30px;
  background: #d9d9d9;
  border: none;
  padding: 5px;
  border-radius: 30px;
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.footer__input input {
  margin-left: 20px;
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  color: #828282;
}
.footer__input button {
  background: #3d05dd;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  transition: all ease 0.5s;
}
.footer__input button:hover {
  background: none;
  color: #3d05dd;
  border: 1px solid #3d05dd;
}
footer .content {
  display: flex;
  flex-direction: row;
  flex: 1;
}
footer .content .column {
  width: 50%;
  margin-top: 4rem;
}
footer .content .column:nth-child(1) {
  width: 100%;
}
footer .content .column p {
  font-size: 14px;
  color: #fff;
  width: 70%;
}
footer .content .column:nth-child(1) ul {
  display: flex;
  margin-top: 10px;
}
footer .content .column:nth-child(1) ul li {
  font-size: 25px;
  margin-right: 15px;
}
footer .content .column:nth-child(1) ul li a {
  color: rgba(225, 225, 225, 0.8);
}
footer .content .column:nth-child(1) ul li:hover {
  animation: float 0.5s ease;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-facebook-f {
  color: #3b5998;
}
.fa-discord {
  color: #7289da;
}
.fa-twitter {
  color: #55acee;
}
footer .column h2 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}
footer .column ul li {
  margin-bottom: 10px;
}
footer .column ul li a {
  color: #fff;
}
footer .column ul li a:hover {
  color: rgba(225, 225, 225, 0.5);
}
footer span {
  margin-top: 2rem;
  color: #bcbcbc;
  font-size: 20px;
}

@media screen and (max-width: 1150px) {
  footer {
    align-items: flex-start;
  }
  footer .content {
    flex-direction: column;
  }
  footer .content .column {
    margin-top: 20px;
    width: 100%;
  }
  .footer__input {
    width: 80%;
  }
}
@media screen and (max-width: 850px) {
  .footer__input input,
  .footer__input button {
    font-size: 18px;
  }
}
@media screen and (max-width: 650px) {
  .footer__input {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  footer h1 {
    font-size: 36px;
  }
  footer .head_p {
    font-size: 18px;
    margin: 10px;
    margin-left: 0;
  }
}
